.container {
    display: flex;
  }
  
  .dashboard {
    flex: 4;
  }
  
  .newStudent {
    flex: 4;
  }
  
  .newStudentForm {
    display: flex;
    flex-wrap: wrap;
  }
  
  .newStudentItem {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
  }
  
  .newStudentItem > label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(151, 150, 150);
  }
  
  .newStudentItem > input {
    height: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
  .newStudentItem > select {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
  .newStudentGender > input {
    margin-top: 15px;
  }
  
  .newStudentGender > label {
    margin: 10px;
    font-size: 18px;
    color: #555;
  }
  
  .newStudentSelect {
    height: 40px;
    border-radius: 5px;
  }
  
  .newStudentButton {
    width: 200px;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
  }