.message{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.messageTop{
    display: flex;
}

.messageImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.messageText{
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(245, 241, 241);
    color: black;
    max-width: 300px;
    margin-bottom: 10px;
}

.messageBottom{
    font-size: 12px;
    margin-top: 10px;
}

.message.true{
    align-items: flex-end;
}

.message.true .messageText{
    background-color: #1877f2;
    color: white;
}