.container {
  display: flex;
}

.studentsList {
  flex: 4;
}

.studentsListUser {
  display: flex;
  align-items: center;
}

.studentsListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.studentsListEdit {
  color: green;
  cursor: pointer;
}

.studentsListEdit {
  color: blue;
  cursor: pointer;
}

.studentsListDelete {
  color: red;
  cursor: pointer;
}
