.messenger {
  height: calc(100vh - 80px);
  display: flex;
}

.chatMenu {
  flex: 3.5;
}

.chatBox {
  flex: 8.5;
}

.chatMenuWrapper,
.chatBoxWrapper {
  padding: 10px;
  height: 100%;
}

.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}

.chatBoxBottom {
  margin-top: 5px;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 90px;
  padding: 10px;
}

.chatSubmitButton {
  width: 150px;
  height: 90px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: blue;
  color: white;
  margin-left: 40px;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatMenuWrapper {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

/* #message-container div {
  padding: 10px;
  border-radius: 20px;
  background-color: #1877f2;
  color: white;
  max-width: 300px;
  margin-bottom: 10px;
} */
