.homepage-header {
  padding-top: 12px;
  padding-bottom: 12px;
}

.homepage-grid {
  padding-top: 64px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 128px;
}

.homepage-img {
  display: flex;
  width: 80%;
  float: right;
  text-align: right;
}