<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
                <a class="navbar-brand" href="#">CsvToMongo</a>
              </nav>

    <div class="container">
        <div>
            <div><form action="/api/data/exportdata" method="POST">
                <button type="submit">Export To Excel</button>
            </form></div><br>

        </div>
    </div>
<br>
</body>
</html>